@font-face {
  font-family: "TildaSans";
  src: url("../font/TildaSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
/* TildaSans-Medium */
@font-face {
  font-family: "TildaSans";
  src: url("../font/TildaSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
/* TildaSans-Semibold */
@font-face {
  font-family: "TildaSans";
  src: url("../font/TildaSans-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
/* TildaSans-Light */
@font-face {
  font-family: "TildaSans";
  src: url("../font/TildaSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
/* TildaSans-Bold */
@font-face {
  font-family: "TildaSans";
  src: url("../font/TildaSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}


:root{
  --red: rgb(227, 30, 36)
}

body {
  font-family: "TildaSans", sans-serif;
  font-weight: 400;
  margin: 0;
}

@media (min-width: 1200px) {
  .container{
    max-width: 1184px;
  }
}

.politics{
  font-size: 20px;
  padding-top: 50px;
  padding-bottom: 50px;
  font-weight: 300;
}
.politics h2{
  font-size: 36px;
}
@media (max-width: 767px) {
  .politics h2 {
    font-size: 27px;
}
.politics {
  padding-top: 30px;
  padding-bottom: 30px;
    font-size: 16px;
}
}


h1{
  color: #ffffff;
  font-size: 51px;
  line-height: 54px;
  font-weight: 600;
  margin-bottom: 25px;
}
h1 span{
  color: var(--red);
}

h2{
  font-size: 42px;
  font-weight: 600;
  margin-bottom: 40px;
}

img{
  max-width: 100%;
}

a{
  text-decoration: none;
}

._primaryBtn{
  display: inline-block;
  text-align: center;
  background-color: var(--red);
  color: #fff;
  text-align: center;
  border: solid 1px var(--red);
  font-size: 18px;
  font-family: "TildaSans", sans-serif;
  line-height: 1.55;
  text-decoration: none;
  font-weight: 500;
  border-radius: 10px;
  padding: 13px 50px;
}

@media (max-width: 1199px) {
  h1{
    font-size: 38px;
    line-height: 40px;
  }
}
@media (max-width: 767px) {
  h1{
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 15px;
  }
  h2{
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 25px;
  }
  ._primaryBtn{
    font-size: 16px;
  }
}


.banner{
  position: relative;
  background-image:  url(../img/banner-img.webp);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  z-index: 1;
  color: #fff;
  padding-top: 50px;
  padding-bottom: 100px;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.banner-row{
  gap: 70px 0;
}
.banner:before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(0turn, rgba(0, 0, 0, 1) 1%, rgba(0, 0, 0, 0.54) 45%, rgba(0, 0, 0, 0.7) 100%);
  z-index: -1;
}
.banner-content{
  max-width: 703px;
}
.banner-content__txt{
    font-size: 26px;
    max-width: 452px;
    line-height:  130%;
    font-weight: 400;
}
.banner-adv{
  display: flex;
  flex-wrap: wrap;
  gap: 38px;
  margin-left: 63px;
  max-width: 360px;
  font-size: 20px;
  line-height: 31px;
}
.banner-adv__item{
  display: flex;
  align-items: center;
  gap: 30px;
}
.banner-adv__item-icon{
  width: 60px;
  flex-shrink: 0;
  text-align: center;
}
.banner-rating{
  display: flex;
  align-items: flex-start;
  gap: 20px;
  margin-top: 60px;
  margin-left: 50px;
  color: #fff;
  position: relative;
}
.banner-rating__txt{
  flex-shrink: 0;
  max-width: 180px;
  width: 100%;
  font-size: 20px;
  position: relative;
  font-weight: 400;
}
.banner-rating__img{
  max-width: 234px;
}
.banner-rating__arrow{
  position: absolute;
  bottom: -48px;
  right: -10px;
  width: 94px;
  animation: pulsate-soft 1.6s ease-in-out infinite;
  will-change: transform;
}
@keyframes pulsate-soft {
  0%   { transform: scale(1);  }
  50%  { transform: scale(1.06); }
  100% { transform: scale(1); }
}
@media (max-width: 1199px) {
  .banner-adv{
    margin-left: 0;
    gap: 20px;
  }
  .banner-rating{
    margin-top: 0;
    margin-left: 0;
  }
  .banner-content__txt{
    max-width: 100%;
    font-size: 20px;
  }
  .banner-rating__img {
      max-width: 195px;
  }
}
@media (max-width: 767px) {
  .banner-row {
      gap: 42px 0;
  }
  .banner-content{
    text-align: center;
  }
  .banner-content__txt{
    font-size: 18px;
    max-width: 315px;
    display: inline-block;
  }
  .banner-adv{
   font-size: 16px;
    max-width: 279px;
    margin-left: auto;
    margin-right: auto;
    line-height: 21px;
  }
  .banner-adv__item{
    gap: 14px;
  }
  .banner-btn{
    width: 100%;
  }
  .banner-rating__img{
    max-width: 60%;
  }
  .banner-adv__item-icon {
    width: 34px;
  }
  .banner-rating__txt{
    font-size: 16px;
    
    max-width: calc(40% - 20px);
  }
}


.removeForm{
  position: relative;
  z-index: 1;
  padding-top: 40px;
  padding-bottom: 50px;
  color: #fff;
  background-image:  url(../img/shotman-check.webp);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.removeForm::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(20, 20, 20, 0.4));
  z-index: -1;
}
.removeForm-wrap{
  max-width: 805px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.removeForm-title__wrap{
  padding-bottom: 40px;
}
.removeForm-txt{
  font-size: 24px;
  font-weight: 300;
}
.removeForm-body{
  display: inline-block;
  max-width: 560px;
  width: 100%;
}
.removeForm-submit{
  width: 100%;
  font-size: 16px;
  transition: 0.3s;
}
.removeForm-submit:hover{
  background-color: #fff;
  color: #000;
  border-color: #fff;
}
.removeForm-agree{
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 15px;
  font-weight: 300;
}
@media (min-width: 768px) {
  .removeForm-title{
    font-size: 48px;
  }
}
@media (max-width: 767px) {
  .removeForm-title__wrap {
      padding-bottom: 20px;
  }
}


._form-group {
	 color: #fff;
	 width: 100%;
   margin-bottom: 20px;
}
._form-group__wrap{
  display: flex;
  gap: 15px;
}
._form-group input {
    width: 100%;
    height: 56px;
    color: #000000;
    background-color: #ffffff;
    border-radius: 10px;
    border: none;
    outline: none;
    padding: 0 20px;
    font-size: 16px;
    font-family: "TildaSans", sans-serif;
    transition: 0.3s;
}
._form-group select {
    width: 100%;
    height: 56px;
    color: #000000;
    background-color: #ffffff;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    outline: none;
    padding: 0 20px;
    font-size: 16px;
    font-family: "TildaSans", sans-serif;
    transition: 0.3s;
    -webkit-appearance: none;
    appearance: none;
}
._form-group__select{
  position: relative;
  width: 100%;
}
._form-group__select::after{
    border-color: #000 transparent transparent;
    border-style: solid;
    border-width: 6px 5px 0;
    bottom: 0;
    content: " ";
    height: 0;
    margin: auto;
    pointer-events: none;
    position: absolute;
    right: 20px;
    top: 0;
    width: 0;
}
    
._form-group input:focus {
    border-color: #fff;
}
._form-group input:focus::placeholder {
    color: transparent;
}
._form-group.req_error input {
    border-color: rgba(195, 44, 3, 0.901);
}
._form-group.req_error .req__text {
    display: block;
}
._form-group.error_error input {
    border-color: rgba(195, 44, 3, 0.901);
}
._form-group.error_error .error__text {
    display: block;
}
._form-group .req__text, ._form-group .error__text {
	 display: none;
   text-align: left;
	 margin-top: 5px;
   font-weight: 400;
	 color: #ff0000;
   font-size: 13px;
}
@media (max-width: 767px) {
  ._form-group__wrap{
    flex-wrap: wrap;
    gap: 0px;
  }
  ._form-group{
    margin-bottom: 15px;
  }
}

.about{
  padding-top: 50px;
  padding-bottom: 50px;
}
.about-content{
  font-size: 18px;
  max-width: 500px;
  font-weight: 300;
}
.about-content p{
  margin-bottom: 30px;
}
.about-img{
  width: 100%;
  height: 350px;
  display: inline-block;
}
.about-img img{
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.about-more{
  padding-top: 20px;
}
.about-more__subtitle{
  font-weight: 700;
  font-size: 20px;
}
.about-more__txt{
  font-weight: 300;
  font-size: 20px;
}
.about-more__txt a{
  font-weight: 700;
  color: #000000;
  text-decoration: underline;
}
.about-more__btn{
  padding-top: 60px;
}
.about-more__btn ._primaryBtn{
  font-size: 16px;
}
.about-gallery{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.about-gallery a {
  flex: 1 1 calc((100% - 50px) / 6);
}
.about-gallery a:hover{
  cursor: zoom-in;
}
.about-container{
  padding-top: 100px;
}
@media (min-width: 992px) {
.about-container{
    padding-left: 3%;
  padding-right: 3%;
  }
}
@media (max-width: 1199px) {
  .about-gallery a {
      flex: 1 1 calc((100% - 50px) / 5);
  }
}
@media (max-width: 991px) {
  .about-gallery a {
      flex: 1 1 calc((100% - 50px) / 3);
  }
  
}
@media (max-width: 767px) {
  .about-content p {
      margin-bottom: 18px;
  }
  .about-more__btn {
    padding-top: 20px;
  }
  .about-gallery a {
      flex: 1 1 calc((100% - 50px) / 2);
  }
  .about-container {
    padding-top: 50px;
  }
}


.faq{
  padding-top: 50px;
  padding-bottom: 50px;
  overflow: hidden;
}
.accordion {
	list-style: none;
	padding: 0;
	overflow: hidden;
}
.accordion li{
  border-top: 1px solid #eee;
}
.accordion li:last-of-type{
  border-bottom: 1px solid #eee;
}
.accordion-head {
	cursor: pointer;
  padding: 27px 0px 27px 0;
  gap: 15px;
  align-items: center;
  font-size: 20px;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
}
.accordion-head__icon{
  font-weight: 300;
  font-size: 50px;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}
.accordion-head:hover .accordion-head__icon{
  background-color: rgb(243, 243, 243);
}
.is-open .accordion-head__icon{
  transform: rotate(45deg);
}
.accordion-panel {
	display: none;
  font-weight: 300;
  font-size: 18px;
  padding-bottom: 30px;
}
.accordion-link{
  color: #ff8562;
}
@media (max-width: 767px) {
  .accordion{
    padding-top: 20px;
  }
  .accordion-head{
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.contact{
  background-color: #2b2a29;
}
.contact-container{
  max-width: 100%;
}
.contact-iframe{
  display: flex;
  position: relative;
  height: 100%;
  min-height: 400px;
}
 .contact-iframe__col{
  padding-left: 0;
  padding-right: 0;
}
.contact-iframe iframe{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.contact-info{
  color: #fff;
  max-width: 860px;
  padding: 90px 70px;
}
.contact-info a{
  color: #fff;
  transition: 0.3s;
}
.contact-info__title{
  font-weight: 600;
  font-size: 28px;
  margin-bottom: 15px;
}
.contact-info__item{
  font-size: 24px;
  padding-top: 30px;
}
.contact-info__item p{
  font-weight: 300;
  margin-bottom: 0;
}
.contact-info__item a:hover{
  opacity: 0.8;
}
.contact-info__item-check{
  color: rgb(227, 30, 36)!important;
  text-decoration: underline;
}
.contact-bottom{
  color: #fff;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 14px;
  font-weight: 600;

}
.contact-bottom .row{
  align-items: center;
}
.contact-bottom p:last-of-type{
  margin-bottom: 0;
}
.contact-politics p{
  margin-bottom: 15px;
}
.contact-politics p a{
  color: #ff8562;
}
.contact-scrollTop{
  color: #fff;
  font-size: 14px;
  display: flex;
  align-items: center;
  width: fit-content;
  margin-left: auto;
  gap: 10px;
}
.contact-scrollTop span{
  font-size: 22px;
  margin-top: -5px;
}
@media (min-width: 992px){
  .contact-bottom{
    padding-left: 3%;
    padding-right: 3%;
  }
} 
@media (max-width: 991px){
  .contact-info{
    padding-top: 45px;
    padding-bottom: 45px;
    padding-left: 0;
    padding-right: 0;
  }
} 
@media (max-width: 767px){
  .contact-info__title{
    font-size: 24px;
  }
  .contact-info__item {
    font-size: 20px;
    padding-top: 20px;
}
  .contact-iframe{
    min-height: 300px;
  }
  .contact-scrollTop{
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    justify-content: center;
  }
}

.modal {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  padding: 20px 10px;
  visibility: hidden;
  display: flex;
  align-items: center;
  align-content: center;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
.modal h2{
  margin-bottom: 20px;
}
.modal .modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.modal .m-content {
  width: 100%;
  background-color: #fff;
  border: solid 1.5px var(--black_10);
  padding: 40px 45px;
}
.modal.active {
  visibility: visible;
  opacity: 1 !important;
}
.modal.active .m-container {
  transform: none;
  opacity: 1;
}
.m-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 860px;
  margin: auto auto;
  position: relative;
  opacity: 0;
  transform: translateY(50px);
  transition: 1s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.modal .removeForm-wrap{
  max-width: 100%;
}
.modal .removeForm-title__wrap{
  padding-bottom: 20px;
}
.modal .removeForm-body{
  max-width: 100%;
}
.modal ._form-group input,
.modal ._form-group select{
  border: 1px solid #868686;
}

.m-container ::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
.m-container ::-webkit-scrollbar-track {
  background: #F5F5F5;
}
.m-container ::-webkit-scrollbar-thumb {
  background: #D1D1D1;
}
.m-container ::-webkit-scrollbar-thumb:hover {
  background: #a3a3a3;
}
.m-close {
  position: absolute;
  right: -48px;
  top: 0px;
  width: 46px;
  height: 46px;
  display: inline-block;
  cursor: pointer;
  border-radius: 12px;
  border: solid 1.5px var(--primary_1);
  z-index: 3;
  transition: 0.3s;
}
.m-close:before {
  content: "";
  position: absolute;
  width: 30px;
  height: 2px;
  border-radius: 2px;
  background-color: #fff;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  transform: rotate(45deg);
  transition: 0.3s;
}
.m-close::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 2px;
  border-radius: 2px;
  background-color: #fff;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  transform: rotate(135deg);
  transition: 0.3s;
}
.m-close:hover{
  opacity: 0.7;
}
@media (max-width: 991px){
  .modal h2{
    font-size: 28px;
  }
  .modal .m-content {
    padding: 40px 20px;
}
.modal .removeForm-txt{
  line-height: 28px;
}
.modal ._form-group input,
.modal ._form-group select{
  height: 50px;
}
  .m-close {
    top: 1px;
    right: 1px;
  }
  .m-close:before,
  .m-close::after{
    background-color: #000;
  }
}